#app{
	width: auto;
	margin: auto;
	padding: 0 15px;
	@media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1170px;
    
  }

  .input-container{
  	margin-bottom: 15px;
  	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: bold;
		}

		.input-data{
	    display: inline- block;
	    height: 36px;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.6;
	    border: 1px solid;
	    border-radius: 4px;
	    margin: 0 10px;
		}
		.btn {
	    display: inline-block;
	    margin-bottom: 0;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: middle;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.6;
	    border-radius: 4px;
	    cursor: pointer;
	    color: #fff;
	    background-color: #3097D1;
	    border-color: #2a88bd;
		}
  }
}