body,
html {
	font-weight: normal;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$green: #8cc63e;
$yellow: #fced4b;
$gray: #c1bcac;
$header: #b5d589;
$orange: #f58020;

@import "calendar";
@import "form";